{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.Actors'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.Actors'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a> {{ 'menu.Actors'|trans }}</a>  {% endblock %}


{% block styleBloc %}
    <style>
        /* fonctionnel */
        .hierarchie_result_lvl input {
            display: none;
        }
        .hierarchie_result_lvl input ~ ul {
            display: none;
        }
        .hierarchie_result_lvl input:checked ~ ul {
            display: block;
        }
        .hierarchie_result_lvl input ~ label .fa-hand-o-right {
            color: #22AA86;
        }
        .hierarchie_result_lvl input ~ label .fa-hand-o-down {
            display: none;
            color: #22AA86;
        }
        .hierarchie_result_lvl input:checked ~ label .fa-hand-o-right {
            display: none;
        }
        .hierarchie_result_lvl input:checked ~ label .fa-hand-o-down {
            display: inline;
        }

        /* habillage */
        .hierarchie_result_lvl li {
            display: block;
            font-family: 'Arial';
            font-size: 15px;
            padding: 0.2em;
            border: 1px solid transparent;
        }
        /*.hierarchie_result_lvl li:hover {*/
            /*border: 1px solid #b3b3b3;*/
            /*border-radius: 3px;*/
        /*}*/

        #accordion .panel-default .panel-heading{cursor: pointer}

        .hierarchie_result_lvl ul{ padding-left: 15px }

        .hierarchie_result_lvl li label{ cursor: pointer;}

        .hierarchie_result_lvl li label i{ margin-right: 10px}

        .hierarchie_result_lvl li i.fa-eye{cursor: pointer; margin-left: 20px}

        .hierarchie_result_lvl span {cursor: pointer; font-weight: 600;}

        .page_overlay{
            display: none;
            position: fixed;
            z-index: 1001;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: rgba(0, 0, 0, 0.4);
        }

        .popup_details_container{
            display: none;
            position: fixed;
            z-index: 1001;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: white;
            height: -moz-max-content;
            height: -webkit-max-content;
            height: max-content;
            width: 700px;
            max-width: 100%;
            border-radius: 4px;
            border: solid 2px #22aa86;
        }

        .popup_details_container .close_popup{
            position: absolute;
            top: -10px;
            right: -12px;
            color: red;
            cursor: pointer;
            line-height: 24px;
            font-weight: 600;
            background: white;
            border-radius: 50%;
        }

        .popup_details_container_inner{
            padding: 20px;
        }
        .card__actor__img{
            width: 100%;
            max-width: 100%;
            border: solid 1px gray;
            height: 115px;
            max-height: 115px;
            object-fit: cover;

        }
        .card__actor__footer a{
            border-radius:0;
        }
    </style>
{% endblock %}

{% block body %}


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" style="padding-left:0">
                <div class="panel-group" id="accordion">
                    {% for key, sector in sectors %}

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}" >
                                <h2 class="panel-title">
                                    <a href="{{ path('gcf_front_actorssectorpage', { 'id': sector.id}) }}" style="text-decoration: none;">{{ sector.nom }}</a>
                                     <i class="fa fa-caret-down" aria-hidden="true" style="float:right"></i>
                                </h2>
                            </div>
                            {% set in='' %}
                            {% if key == 0 %}
                                {% set in='in' %}
                            {% endif %}
                            <div id="collapse{{ key }}" class="panel-collapse collapse {{ in }}">
                                <ul class="list-group">
                                    {% for actor in actors %}
                                        {% if ( actor.secteurActeur ==  sector.nom ) %}
                                            <li class="list-group-item"><a href="{{ path('gcf_front_actorssectorpage', { 'id': sector.id}) }}"> {{ actor.nom }}</a> </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

            <div class="col-md-8">
                <div class="hierarchie_result_lvl">

                {% block actorsSector %}
                    {% set i = 0 %}
                    {% for sector in sectors %}
                        {% set i = i + 1 %}
                        <h1>{{ sector.nom }}</h1>
                        <ul>
                            {% for actor in mainactors[sector.id].actors %}
                                <li>
                                    <span onclick="seeDetails( {{ actor.id }} )">{{ actor.nom }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endblock %}
                </div>
            </div>


        </div>
    </div>

    <div class="page_overlay" onclick="closePop()">
    </div>
    <div class="popup_details_container">
        <i class="fa fa-times-circle fa-2x close_popup" aria-hidden="true" onclick="closePop()"></i>
        <div class="popup_details_container_inner col-md-12"></div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" charset="utf-8">
        function seeDetails(actor_id){
            url = '{{ path('gcf_front_single_actor', {'id': 'id'} ) }}';
            url = url.replace("id", actor_id);
            var toAppend = '';
            $('.loading_page_overlay').css('display', 'block');
            $.ajax({
                url: url,
                type: 'POST',
                data: { 'id' : actor_id },
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    $('.loading_page_overlay').css('display', 'none');
                    var urlSingle = '{{ path('gcf_front_single_actor_page',{'id': 'id','slug': 'slug'}) }}';
                    urlSingle = urlSingle.replace('id', result.id);
                    urlSingle = urlSingle.replace('slug', result.nom);
                    var toAppend = '';
                    toAppend = '<div class="popup__card col-md-12 col-xs-12">';
                    toAppend += ' <div class="card__actor__header">';
                    toAppend += '<div class="col-md-4 col-xs-4">';
                    toAppend += '<div style="border: solid 1px; height:115px">';
                    if ( result.logo !== ''){
                        toAppend += '<img src="'+result.logo.replace('/app_dev.php', '')+'" alt="'+result.nom+'" class="card__actor__img">';
                    }else{
                        toAppend += '<img src="{{ asset('assets/images/empty-image.png') }}" alt="'+result.nom+'" class="card__actor__img">';
                    }


                    toAppend += '</div>';
                    toAppend += '</div>';
                    toAppend += '<div class="col-md-8 col-xs-8">';
                    toAppend += '<h1 style="margin-top: 0;">'+result.nom+'</h1>';
                    if(result.siteweb != null) {
                        toAppend += '<h3><i class="fa fa-globe" aria-hidden="true"></i>' + result.siteweb + '</h3>';
                    }
                    toAppend += '</div>';
                    toAppend += '</div>';

                    toAppend += '<div class="card__actor__body col-md-12 col-xs-12">';
                    toAppend += '<p>'+result.description.slice(0, 440)+'...</p>';
                    toAppend += '</div>';
                    toAppend += '<div class="card__actor__footer col-md-12 col-xs-12">';
                    toAppend += '<a href="'+urlSingle+'" class="btn btn-default btn-block" >Voir les détails</a>';
                    toAppend += '</div>';
                    toAppend += '</div>';

            $('.popup_details_container_inner').append(toAppend);
            $('.popup_details_container').css('display', 'block');
                },
                error: function(xhr, ajaxOptions, thrownError){
                    console.log(xhr);
                    console.log(ajaxOptions);
                    console.log(thrownError);
                    $('.loading_page_overlay').css('display', 'none');
                }
            });
            
            $('.page_overlay').css('display', 'block');

            $('.popup_details_container_inner').append(toAppend);
        }
        function closePop() {

            $('.page_overlay').css('display', 'none');

            $('.popup_details_container_inner').empty();

            $('.popup_details_container').css('display', 'none');

        }
    </script>

{% endblock %}