{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ actor.nom }} {% endblock %}

{% block pageTitle %} {% if  actor.nom|length > 40 %} {{ actor.nom|slice(0, 40) }}... {% else %} {{ actor.nom }} {% endif %} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}" title="{{ 'menu.Home'|trans }}">{{ 'menu.Home'|trans }}</a> / <a href="{{ path('gcf_front_actorspage') }}" title="{{ 'menu.Actors'|trans }}"> {{ 'menu.Actors'|trans }}</a> / <a title="{{ actor.nom }}">{% if  actor.nom|length > 40 %} {{ actor.nom|slice(0, 40) }}... {% else %} {{ actor.nom }} {% endif %}</a> {% endblock %}

{% block stylesheets %}
    <style>
        .img__container{
            width: 100%;
            border: solid 1px #f1f1f1;
            text-align: center;
        }
        .img__container img{
             max-width: 100%;
            max-height: 300px;
         }
        .single__actor__header_info span{
            margin-right: 10px
        }
        .single__actor__body span{
            margin-right: 10px
        }
    </style>
{% endblock %}
{% block body %}

    {#{{ dump(actor) }}#}
    <div class="single__actor__page__container">

        <div class="single__actor__header">
            <div class="img__container">
                <img src="{% if actor.logo != '' %}{{ actor.logo|replace({'/app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" alt="{{ actor.nom }}">
            </div>
            <h1>{{ actor.nom }}</h1>
            <h3>{{ actor.secteurActeur.nom }}</h3>
            <p class="single__actor__header_info">
                {% if actor.email != '' %}
                    <span><i class="fa fa-envelope" aria-hidden="true"></i> {{ actor.email }}</span>
                {% endif %}
                {% if actor.tel != '' %}
                <span><i class="fa fa-phone" aria-hidden="true"></i> {{ actor.tel }}</span>
                {% endif %}
                {% if actor.fax != '' %}
                <span><i class="fa fa-fax" aria-hidden="true"></i> {{ actor.fax }}</span>
                {% endif %}
                {% if actor.adresse != '' %}
                <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{ actor.adresse|striptags }}</span>
                {% endif %}
                {% if actor.siteweb != '' %}
                <span><i class="fa fa-globe" aria-hidden="true"></i> {{ actor.siteweb }}</span>
                {% endif %}
            </p>
        </div>
        <div class="single__actor__body col-md-12" style=" padding-left:0">
            {% if actor.description !='' %}
                <h4>Description</h4>
                <p class="actor__desription">{{ actor.description|raw }}</p>
            {% endif %}
            {% if actor.hierarchie !='' %}
                <h4>Hiérarchie</h4>
                <p class="actor__hierarchie">{{ actor.hierarchie|raw }}</p>
            {% endif %}
            {% if actor.mission !='' %}
                <h4>Mission</h4>
                <p class="actor__mission">{{ actor.mission|raw }}</p>
            {% endif %}
            {% if actor.responsable !='' %}
                <h4>Responsable à l'information</h4>
                <span class="actor__nom__responsable">{{ actor.responsable }}</span>
                <span class="actor__tel__responsable"><i class="fa fa-phone" aria-hidden="true"></i> {{ actor.telresponsable }}</span>
                <span class="actor__email__responsable"><i class="fa fa-envelope" aria-hidden="true"></i> {{ actor.emailresponsable }}</span>
            {% endif %}
        </div>

    </div>

{% endblock %}