<style>
    .home_banner_search {
        padding: 5px 0;
        width: 100% !important;
        background: rgba(0,0,0,0.30);
        margin: 0 !important;
    }

</style>
<form action="{{ path('gcf_front_searchpage') }}" class="col-md-10 col-md-offset-1 home_banner_search">
    <div class="form-group col-md-5" style="margin: 0;">
        <input name="key" type="text" placeholder="{{ 'search.Search'|trans }}" value="{{ keyword }}" class="form-control" id="search">
    </div>
    <div class="form-group col-md-3 " style="margin: 0;">
        <select name="gouvr" class="form-control" id="gouvernorat">
            <option value="Governorate">{{ 'search.Governorate'|trans }}</option>
            {% for Gouvernorat in Gouvernorats %}
                <option value="{{ Gouvernorat.Id }}"{% if Gouvernorat.Id == gouvr %}selected{% endif %}>{{ Gouvernorat.Nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-2" style="margin: 0">
        <select name="type" class="form-control" id="type">
            <option value="Type">{{ 'search.Type'|trans }}</option>
            {% for typ in alltype %}
                <option value="{{ typ.Name }}" {% if typ.Name == type %}selected{% endif %}>{{ typ.Label }}</option>
            {% endfor %}
            <!--
                <option value="News">{{ 'search.News'|trans }}</option>
                <option value="Library">{{ 'search.Library'|trans }}</option>
            -->

        </select>
    </div>
    <div class="form-froup col-md-2" style="margin: 0;">
        <button type="submit" class="btn btn-primary" style="width: 100%;">
            <i class="fa fa-search" aria-hidden="true"></i>
            Rechercher
        </button>
    </div>
</form>
<script>
    var options = {
	url: "http://easyautocomplete.com/resources/people.json",

	getValue: "name",

	list: {
		match: {
			enabled: true
		}
	}
    };
    
    $("#search").easyAutocomplete(options);
</script>