<form action="{{ path('gcf_front_searchpage') }}" class="col-md-10 col-md-offset-1 home_banner_search">
    <div class="form-group col-md-5" style="margin: 0; color: #333">
        <input id="key" name="key" type="text" placeholder="{{ 'search.Search'|trans }}" value="{{ keyword }}" class="form-control"  style="background-image: url('{{ asset('assets/images/material/arrow_down_input.png') }}')">
    </div>
    <div class="form-group col-md-3 " style="margin: 0;">
        <select name="gouvr" class="form-control" id="gouvernorat" style="background-image: url('{{ asset('assets/images/material/arrow_down_select.png') }}')" >
            <option value="Governorate">{{ 'search.Governorate'|trans }}</option>
            {% for Gouvernorat in Gouvernorats %}
                <option value="{{ Gouvernorat.Id }}"{% if Gouvernorat.Id == gouvr %}selected{% endif %}>{{ Gouvernorat.Nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-3" style="margin: 0">
        <select name="theme" class="form-control" id="type" style="background-image: url('{{ asset('assets/images/material/arrow_down_select.png') }}')">
            <option value="Theme">{{ 'search.Theme'|trans }}</option>
            {% for them in allThemes %}
                <option value="{{ them.Name }}" {% if them.Name == theme %}selected{% endif %}>{{ them.Label }}</option>
            {% endfor %}
            <!--
                <option value="News">{{ 'search.News'|trans }}</option>
                <option value="Library">{{ 'search.Library'|trans }}</option>
            -->

        </select>
    </div>
    <div class="form-froup col-md-1" style="margin: 0;">
        <button type="submit" class="btn btn-primary" ><!-- style="width: 100%;" -->
            <i class="fa fa-search" aria-hidden="true"></i>
            <!-- {{ 'search.Search'|trans }} -->
        </button>
    </div>
</form>

<script>
    var url = '{{ path('gcf_front_autocompleteSearch') }}';
    //url = url.replace("app_dev.php/", "");
    var options = {
	url: url,

	getValue: "key",

	list: {
		match: {
			enabled: true
		}
	}
    };
    $('#key').easyAutocomplete(options);

</script>