{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.E-learning'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.E-learning'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a > {{ 'menu.E-learning'|trans }}</a>  {% endblock %}

{% block body %}
    <style>
        .navigation_elearning{
            margin-bottom: 40px;
        }
        .navigation_elearning li{
            font-weight: 600;cursor: pointer;
        }
        .navigation_elearning a{
            color: #22AA86;
        }
        #legislatives_tab_container{
            display: none;
        }
        .listing{
            box-shadow: 0 0 10px #ccc inset;
            padding: 10px;
            margin-bottom: 30px;
            min-height: 240px;
            position: relative;
        }
        .listing h4{
            background: #7ac943;
            color: #fff;
            font-weight: 400;
            padding: 8px 15px;
            margin-top: 0;
            width: 70%;
            margin-left: 30%;
        }
        .listing h4 a{
             color: inherit;
            text-decoration: none;
        }
        .listing h4 a:hover{
            color: inherit;
            text-decoration: none;
        }

        .listing a{
            margin-bottom: 10px;
        }
        .type img{
            float: left;
            width: 27%;
            height: 83px;
            padding: 10px 5px 0 0;
            cursor: pointer;
            top: 0;
            position: absolute;
        }
        .listing > p{
            width: 70%;
            margin-left: 30%;
            padding: 5px 0;
        }
        #technique_tab, #legislatives_tab{
            padding:0;
        }
         .card-footer{
            background: #333;
            color:white;
            height: max-content;
            position: absolute;
            bottom: 10px;
            width: calc(100% - 20px);
        }
         .card-footer .card-text{
            font-size: 16px;
            color: white;
            line-height: 30px;
            margin-right: 20px;
            margin-bottom: 0;
        }
         .card-footer .card-text a{
            text-decoration: none;
            color:inherit;
        }
        .card-footer .card-text a:hover{
            text-decoration: none;
            color:inherit;
        }

        .technique__info__container{
            height: max-content;
            min-height: 160px;
            max-height: 160px;
        }
        ._tab__container{
            display: none;
        }

        /**
        ===================
        *popup video
        ===================
         */
        .index__overlay{
            display: none;
            position: fixed;
            z-index: 9991;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
        }
        .video__home__popup{
            display: none;
            position: fixed;
            z-index: 9992;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            height: 95%;
            width: 90%;
            max-width: 100%;
            background: white;
        }
        .video__container{
            padding: 70px 0;
            height: 100%;
            width: 80%;
            margin: auto;
        }
        .close__video__popup {
            position: absolute;
            right: 20px;
            top: 0;
            font-size: 35px;
            color: gray;
            text-decoration: none;
            cursor: pointer;
        }
        .close__video__popup:hover{
            text-decoration: none;
            color: gray;
        }
    </style>


    <!-- <h1>Page E-learning</h1> -->

    <div>
        <div class="col-md-12">
            <ul class="nav nav-tabs navigation_elearning">
            {% for key, elearningCategorie in elearningCategories %}
                {% if key == 0 %}
                    <li class="active header__tabs" id="{{ elearningCategorie.nom }}_tab"><a href="#{{ elearningCategorie.nom }}">{{ elearningCategorie.nom }}</a></li>
                {% else %}
                    <li class="header__tabs" id="{{ elearningCategorie.nom }}_tab"><a href="#{{ elearningCategorie.nom }}">{{ elearningCategorie.nom }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>


        {% for key, elearningCategorie in elearningCategories %}
            <div id="{{ elearningCategorie.nom }}_tab_container" class="_tab__container">
                {% if key == 0 %}
                    <style>
                        #{{ elearningCategorie.nom }}_tab_container{
                            display:block;
                        }
                    </style>
                {% endif %}
            {% for learning in elearning %}
                {% if learning.fichier != '' and learning.catLearning.nom == elearningCategorie.nom %}
                    {% if learning.nom and learning.etatPub == 'Public' %}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="listing">
                            <h4><a target="_blank" href="{{ learning.Fichier }}">{{ learning.Nom }}</a></h4>
                            <div class="type">
                                <a target="_blank" href="{{ learning.Fichier }}">
                                <img src="{{ learning.Image|replace({'app_dev.php': ''}) }}" title="{{ 'elearningPage.Access to this file'|trans }}">

                                <span style="position: absolute; top: 10px; left: 12px; color: red; right: 10px; font-size: 12px; font-weight: 600;"><i class="fa fa-file" aria-hidden="true"></i></span>
                                </a>
                            </div>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> 2018</p>
                            <div class="details" style="margin-top: 20px;">
                                <p>{{ learning.Description|raw|slice(0, 112) }} ...</p>
                                {% if  learning.keyword|length > 0 %}
                                    <p><i class="fa fa-tags" aria-hidden="true"></i>
                                    {% for keyword in learning.keyword %}
                                        {{ keyword.label }},
                                    {% endfor %}
                                    </p>
                                {% endif %}

                            </div>
                            <div class="card-footer">
                                <p class="card-text text-right"><a target="_blank" href="{{ learning.Fichier }}">{{ 'elearningPage.Access to this file'|trans }}</a></p>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    {% elseif learning.youtube != '' and learning.catLearning.nom == elearningCategorie.nom %}

                        {% if learning.Nom and learning.etatPub == 'Public' %}
                            {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                                {#<div class="technique__video__container">#}
                                    {#<iframe style="max-width: 100%;max-height: 100%;width: 100%; height:200px;" src="{{ learning.youtube }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
                                {#</div>#}
                                {#<div class="technique__info__container">#}
                                    {#<h4 class="name">{{ learning.Nom }}</h4>#}
                                    {#<p class="name"><strong>Date :</strong> 2009</p>#}
                                    {#<p class="description" title="{{ learning.Description }}">{{ learning.Description|raw|slice(0, 124) }}...</p>#}
                                    {#<p ><strong>Mot clés :</strong></p>#}
                                {#</div>#}
                            {#</div>#}

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="listing">
                                    <h4><a class="play__youtube__video" data-url-youtube="{{ learning.Youtube }}?rel=0" style="cursor: pointer">{{ learning.Nom }}</a></h4>
                                    <div class="type">
                                        <a class="play__youtube__video" data-url-youtube="{{ learning.Youtube }}?rel=0" style="cursor: pointer" title="{{ 'elearningPage.Read this video'|trans }}">
                                            <img class="img-fluid" src="{{ learning.Image }}" style="cursor:pointer" />
                                            <span style="position: absolute; top: 10px; left: 12px; color: red; right: 10px; font-size: 12px; font-weight: 600;"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
                                        </a>
                                    </div>
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> 2018</p>
                                    <div class="details" style="margin-top: 20px;">
                                        <p>{{ learning.Description|raw|slice(0, 112) }} ...</p>
                                        {% if  learning.keyword|length > 0 %}
                                            <p><i class="fa fa-tags" aria-hidden="true"></i>
                                                {% for keyword in learning.keyword %}
                                                    {{ keyword.label }},
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text text-right"><a class="play__youtube__video"  data-url-youtube="{{ learning.Youtube }}?rel=0" style="cursor: pointer">{{ 'elearningPage.Read this video'|trans }}</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                {% endif %}
            {% endfor %}

            </div>

        {% endfor %}
    </div>

    <div class="index__overlay" onclick="closeVideoPopup()"></div>
    <div class="video__home__popup">
        <div class="video__container">
            <a class="close__video__popup"  onclick="closeVideoPopup()" style="position: absolute; right: 20px ; top: 0; font-size: 35px; color:gray" onclick="closeVideoPopup()">×</a>
            <iframe width="100%" height="100%" src=" " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $('.play__youtube__video').click( function () {
            var videoUrl = $(this).attr('data-url-youtube');
            videoUrl = videoUrl.replace(/(.*)v=([^&]*)&?(.*)/, "https://www.youtube.com/embed/$2");

            $('.video__container iframe').attr('src', videoUrl);

            $('.index__overlay').fadeIn("slow");
            $('.video__home__popup').fadeIn( );
        } );
        function closeVideoPopup() {
            $('.index__overlay').fadeOut("slow");
            $('.video__home__popup').fadeOut();
            $('.video__container iframe').attr('src', '');
        }
    </script>

    <script>
    {% for key, elearningCategorie in elearningCategories %}

            jQuery('#{{ elearningCategorie.nom }}_tab').click(function () {

                jQuery('._tab__container').css('display', 'none');
                jQuery('#{{ elearningCategorie.nom }}_tab_container').css('display', 'block');
                jQuery('.header__tabs').removeClass('active');
                jQuery('#{{ elearningCategorie.nom }}_tab').addClass('active');


            });


    {% endfor %}
    </script>
{% endblock %}