{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.Publications'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.Publications'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a > {{ 'menu.Publications'|trans }}</a>  {% endblock %}

{% block body %}
    <style>
        .nav_our_and_green_blogger {
            margin-bottom: 30px !important;
        }

        .nav_our_and_green_blogger li {
            font-weight: 600;
            cursor: pointer;
        }

        .nav_our_and_green_blogger a {
            color: #7ac943;
        }

        #green_blogger_pub_tab_container {
            display: none;
        }

        #autres_pub_tab_container{
            display:none;
        }

        .nav_our_and_green_blogger li a h3{
            font-weight: inherit ;
            font-size: inherit;
            line-height: inherit;
            margin: inherit;
        }

        @media screen and (max-width: 635px)  {
            .nav_our_and_green_blogger .navbar-right{
                position: absolute;
                right: 0;
                top: -30px;
            }
            .nav_our_and_green_blogger li a h2{
                font-size: 13px;
            }
            .nav-tabs>li>a {
                padding: 5px 1px;
            }
            .main-page-site .col-md-9 .col-md-12{
                padding: 0;
            }
        }

        .post_title{color:#333 }

        .post_title:hover,.post_title:focus { text-decoration: none; color:#7ac943 }

        .publications__page__img{
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            height: 134px;
            width: 100%;
            object-fit: cover;
        }


        ._tab_container{
            display: none;
        }
    </style>
    <div>

        <div class="col-md-12">
            <ul class="nav nav-tabs nav_our_and_green_blogger">
                {#<li class="active" id="our_pub_tab"><a><h2>Nos Publications</h2></a></li>#}
                {#<li class="" id="green_blogger_pub_tab"><a><h2>Green bloggeur Publications</h2></a></li>#}
                {#<li class="" id="autres_pub_tab"><a><h2>Autres</h2></a></li>#}
                {% for key, catPub in catsPub %}
                    {% if key == 0 %}
                        <li id="{{ catPub.nom|replace({' ': '_'}) }}_tab" class="active header__tabs" ><a><h3>{{ catPub.nom }}</h3></a></li>
                    {% else %}
                        <li id="{{ catPub.nom|replace({' ': '_'}) }}_tab" class="header__tabs"><a><h3>{{ catPub.nom }}</h3></a></li>
                    {% endif %}
                {% endfor %}
                <div class="navbar-right">
                    <a class="btn btn-default" onclick="showGBpopup()">+ Green Blogger</a>
                </div>
            </ul>
        </div>

        {% for key, catPub in catsPub %}
        <div id="{{ catPub.nom|replace({' ': '_'}) }}_tab_container" class="_tab_container">

            {% for publication in publications %}

                {% if publication.titre and  publication.etatPub == 'Publique' and publication.categorie  == catPub.nom %}
                    {% if key == 0 %}
                        <style>

                            #{{ catPub.nom|replace({' ': '_'}) }}_tab_container{
                                display:block;
                            }
                        </style>
                    {% endif %}
                    <div class="col-md-6 col-sm-6 col-xs-12"
                         style="background: whitesmoke;border: solid white; padding-top: 10px; padding-bottom:10px; min-height: 180px; max-height: 200px; ">
                        <div class="row">
                            <div class="col-md-5 col-xs-5" style="padding-right: 0">
                                <a href="{{ path('gcf_front_single_publications_page',{'slug': publication.titre|lower|replace({' ': '-'}), 'id': publication.id }) }}" title="{{ publication.titre }}">
                                    <img src="{% if publication.featuredImage != '' %}{{ publication.featuredImage|replace({'/app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" class="publications__page__img" style="width: 100%;"  alt="{{ publication.titre }}" title="{{ publication.titre }}" />
                                </a>
                            </div>
                            <div class="col-md-7 col-xs-7">
                                <h4><a href="{{ path('gcf_front_single_publications_page',{'slug': publication.titre|lower|replace({' ': '-'}), 'id': publication.id }) }}" class="post_title" title="{{ publication.titre }}">{% if publication.titre|length > 44  %}{{ publication.titre|slice(0, 41) }}...{% else %}{{ publication.titre }}{% endif %}</a></h4>
                                <p class="description" style="font-size: 13px;">{{ publication.contenu|striptags|slice(0, 62)|raw }}...</p>
                                <h6><i class="fa fa-clock-o" aria-hidden="true"></i> {{ 'now'|date('d-m-Y') }}</h6>
                                <p style="width: 100%; text-align: right; margin: 0;">
                                    <a href="{{ path('gcf_front_single_publications_page',{'slug': publication.titre|lower|replace({' ': '-'}), 'id': publication.id }) }}" title="{{ publication.titre }}" class="button_see_more">Lire la suite. </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

        </div>
        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        {% for key, catPub in catsPub %}
        jQuery('#{{ catPub.nom|replace({' ': '_'}) }}_tab').click(function () {

            jQuery('._tab_container').hide();
            jQuery('#{{ catPub.nom|replace({' ': '_'}) }}_tab_container').show();
            jQuery('.header__tabs').removeClass('active');
            jQuery('#{{ catPub.nom|replace({' ': '_'}) }}_tab').addClass('active');
        });
        {% endfor %}
    </script>
{% endblock %}

