{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF -  {{ 'menu.Publications'|trans }} - {{ publication.titre|slice(0, 40) }} {% endblock %}
{% block pageTitle %} {% if  publication.titre|length > 40 %} {{ publication.titre|slice(0, 40) }}... {% else %} {{ publication.titre }} {% endif %} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a > {{ 'menu.Publications'|trans }}</a> / <a title="{{ publication.titre }}">{% if  publication.titre|length > 40 %} {{ publication.titre|slice(0, 40) }}... {% else %} {{ publication.titre }} {% endif %}</a>  {% endblock %}

{% block meta %}
    <meta name="Author" content="GCF">
    <meta name="Language" content="{{ app.request.locale }}">
    <meta name="Description" content="{{ publication.contenu|striptags }}">
    <meta name="Keywords" content=" {% for keyword in publication.keyword %} {{ keyword }}, {% endfor %} ">{#mots cles#}

    <meta property="og:url"                content="{{ app.request.uri }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="GCF - {{ publication.titre }}" />
    <meta property="og:description"        content="{{ publication.contenu|striptags }}" />
    <meta property="og:image"              content="{{ app.request.getSchemeAndHttpHost() }}{{ publication.featuredImage|replace({'app_dev.php': ''}) }}" />
{% endblock %}
{% block body %}

<div class="col-md-12">


    <div class="single__publication__page__container col-md-12">

        <div class="single__publication__page__header">
            <img src="{% if publication.featuredImage != '' %}{{ publication.featuredImage|replace({'/app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" alt="{{ publication.titre }}">
            {#<img src="https://placeimg.com/640/480/any" alt="">#}
            <h1 class="publication__info__title">
                {{ publication.titre }}
            </h1>
            <div class="single__publication__page__header__info">
                <p class="publication__info__time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ publication.createdAt|date("d-m-Y") }}
                </p>
                {%  if publication.emailBloggeur != '' %}
                <p class="publication__info__gbemail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ publication.emailBloggeur }}
                </p>
                {% endif %}
                {% if  publication.nomBloggeur != '' %}
                <p class="publication__info__gbename">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ publication.nomBloggeur }} {{ publication.prenomBloggeur }}
                </p>
                {% endif %}
                {% for key, keyword in publication.keyword %}
                {% if  key == 0 %}
                <p class="publication__info__tags">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    {% for keyword in publication.keyword %}
                        {{ keyword }},
                    {% endfor %}
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="single__publication__page__body">
            {{ publication.contenu|raw }}
        </div>

    </div>
</div>


{#share buttons#}
<div class="share-buttons col-md-12">
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank" class="fa fa-facebook"> Facebook</a>
    <a href="https://twitter.com/share?url={{ app.request.uri }}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" class="fa fa-twitter" > Twitter</a>
    <a href="https://plus.google.com/share?url={{ app.request.uri }}" target="_blank" class="fa fa-google"> Google +</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ app.request.uri }}" class="fa fa-linkedin" target="_blank"> Linkedin</a>
    <a href="#" class="fa fa-instagram"> Instagram</a>
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" class="fa fa-pinterest"> Pinterest</a>
    <a href="http://www.tumblr.com/share/link?url={{ app.request.uri }}" target="_blank" class="fa fa-tumblr"> Tumbler</a>
</div>



    <div class="col-md-12 col-sm-12 col-xs-12 related__article">
        <h4>Voir plus d'Actualités</h4>
        {% for relatedPublication in relatedPublications %}
            {% if  relatedPublication.titre != '' %}
            <div class="col-md-4 col-sm-4 col-xs-4" style="min-height: 215px">
                <a href="{{ path('gcf_front_single_publications_page',{'id': relatedPublication.id, 'slug': relatedPublication.titre}) }}"><img src="{% if relatedPublication.featuredImage != '' %}{{ relatedPublication.featuredImage|replace({'app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" alt="{{ relatedPublication.titre }}"></a>
                <a href="{{ path('gcf_front_single_publications_page',{'id': relatedPublication.id, 'slug': relatedPublication.titre}) }}"><h5>{{ relatedPublication.titre|slice(0, 70) }}</h5></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block stylesheets %}
    <style type="text/css">
        /*share buttons style*/
        .share-buttons .fa {
            padding: 10px 15px;
            font-size: 17px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
        }

        .share-buttons .fa:hover {
            opacity: 0.7;
        }

        .share-buttons .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .share-buttons .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .share-buttons .fa-google {
            background: #dd4b39;
            color: white;
        }

        .share-buttons .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .share-buttons .fa-instagram {
            background: #125688;
            color: white;
        }

        .share-buttons .fa-pinterest {
            background: #cb2027;
            color: white;
        }

        .share-buttons .fa-tumblr {
            background: #2c4762;
            color: white;
        }
    </style>
    <style>
        .single__publication__page__header img{
            width:100%;
            max-height: 300px;
            object-fit: cover;
        }

        .single__publication__page__header h1.publication__info__title {
            font-size: 23px;
            cursor: pointer;
        }

        .single__publication__page__header__info{
            display: flex;
        }

        .single__publication__page__header__info p.publication__info__date {
            margin-right: 20px;
        }
        .single__publication__page__header__info p.publication__info__date i {
            width: 15px;
            font-size: 13px;
        }

        .single__publication__page__header__info p.publication__info__time{
            margin-right: 20px;
        }
        .single__publication__page__header__info p.publication__info__time i {
            width: 15px;
            font-size: 13px;
        }

        .single__publication__page__header__info p.publication__info__tags{
            margin-right: 20px;
        }
        .single__publication__page__header__info p.publication__info__tags i {
            width: 15px;
            font-size: 13px;
        }

        .single__publication__page__header__info p.publication__info__gbemail{
            margin-right: 20px;
        }
        .single__publication__page__header__info p.publication__info__gbemail i {
            width: 15px;
            font-size: 13px;
        }
        .single__publication__page__header__info p.publication__info__gbename{
            margin-right: 20px;
        }
        .single__publication__page__header__info p.publication__info__gbename i {
            width: 15px;
            font-size: 13px;
        }

        /*related article*/
        .related__article{
            margin-top:50px;
        }
        .related__article img{
            max-width: 100%;
            width: 100%;
            height: 150px;
            object-fit: cover;
            border: solid 1px #e7e7e7;
        }
        .related__article a {
            text-decoration: none;
            color: inherit;
        }
        .related__article a:hover{
            text-decoration: none;
            color: #7ac943;
        }
        .related__article a h5{
            font-weight: 600;
        }
    </style>

{% endblock %}



