{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.News'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.News'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a> {{ 'menu.News'|trans }}</a>  {% endblock %}

{% block stylesheets %}
    <style>
        .actualities__container .card {
            display: block;
            margin-bottom: 20px;
            line-height: 1.42857143;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            transition: box-shadow .25s;
        }
        .actualities__container .card:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }
        .actualities__container .img-card {
            width: 100%;
            height:200px;
            border-top-left-radius:2px;
            border-top-right-radius:2px;
            display:block;
            overflow: hidden;
        }
        .actualities__container .img-card img{
            width: 100%;
            height: 200px;
            object-fit:cover;
            transition: all .25s ease;
        }
        .actualities__container .card-content {
            padding:10px;
            min-height: 125px;
        }
        .actualities__container .card-title {
            margin-top:0px;
            font-weight: 700;
            font-size: 1.65em;
        }
        .actualities__container .card-title a {
            color: #000;
            text-decoration: none !important;
        }
        .actualities__container .card-read-more {
            border-top: 1px solid #D4D4D4;
        }
        .actualities__container .card-read-more a {
            text-decoration: none !important;
            padding:10px;
            font-weight:600;
            color: #7ac943;
            text-transform: uppercase
        }

        /*.article__title{*/

        /*}*/
        /*.article__content{*/

        /*}*/
        /*.article__image{*/
            /*width: 100%;*/
            /*max-height: 300px;*/
            /*border: solid 1px #e7e7e7;*/
            /*object-fit: cover;*/

        /*}*/
        /*.button_see_more_lg{*/
            /*text-decoration: none;*/
            /*color:white;*/
        /*}*/
        /*.button_see_more_lg:hover{*/
            /*text-decoration: none;*/
        /*}*/
    </style>
{% endblock %}
{% block body %}
<div class="actualities__container">
    {% for actuality in actualities %}
        {% if actuality.titre != '' %}
            {#<div class="col-md-12" style="padding-left: 0">#}
                {#<img class="article__image" src="{{ actuality.image|replace({'/app_dev.php': ''}) }}" alt="{{ actuality.titre }}">#}
                {#<h3 class="article__title">{{ actuality.titre }}</h3>#}
                {#<p style="margin: 0"><i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px"></i> {{ actuality.createdAt|date("d-m-Y") }}</p>#}
                {#<p class="article__content">{{ actuality.contenu|slice(0,445)|raw }}...</p>#}
                {#<p style="text-align: right"><a class="button_see_more_lg" href="{{ path('gcf_front_actuality_single_page',{'id': actuality.id, 'slug': actuality.titre}) }}">{{ 'actuality.Read more'|trans }}</a></p>#}
            {#</div>#}

            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <a class="img-card" href="{{ path('gcf_front_actuality_single_page',{'id': actuality.id, 'slug': actuality.titre}) }}">
                        <img src="{% if actuality.image != '' %}{{ actuality.image|replace({'/app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" alt="{{ actuality.titre }}" />
                    </a>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="{{ path('gcf_front_actuality_single_page',{'id': actuality.id, 'slug': actuality.titre}) }}">{{ actuality.titre }}
                            </a>
                        </h4>
                        <p style="margin: 0"><i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px"></i> {{ actuality.createdAt|date("d-m-Y") }}</p>
                        <p class="">
                            {% if actuality.contenu|length > 63 %}{{ actuality.contenu|slice(0,66)|raw }}...{% else %}{{ actuality.contenu|raw }} {% endif %}
                        </p>
                    </div>
                    <div class="card-read-more">
                        <a href="{{ path('gcf_front_actuality_single_page',{'id': actuality.id, 'slug': actuality.titre}) }}" class="btn btn-link btn-block">
                            {{ 'actuality.Read more'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}


