{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ actuality.titre }} {% endblock %}

{% block pageTitle %} {% if  actuality.titre|length > 40 %} {{ actuality.titre|slice(0, 40) }}... {% else %} {{ actuality.titre }} {% endif %} {% endblock %}

{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}" title="{{ 'menu.Home'|trans }}">{{ 'menu.Home'|trans }}</a> / <a href="{{ path('gcf_front_event_page') }}" title="{{ 'menu.News'|trans }}"> {{ 'menu.News'|trans }}</a> / <a title="{{ actuality.titre }}">{% if  actuality.titre|length > 40 %} {{ actuality.titre|slice(0, 40) }}... {% else %} {{ actuality.titre }} {% endif %}</a> {% endblock %}

{% block stylesheets %}
    <style>

        .single__actuality__image__container{
            width: 100%;
            border: solid 1px #e7e7e7;
        }
        .single__actuality__image{
            width: 100%;
            max-height: 300px;
            object-fit: cover;

        }
        .single__actuality__content__container{
            text-align: justify;
        }

        /*related article*/
        .related__article{
            margin-top:50px;
            padding: 0;
        }
        .related__article img{
            max-width: 100%;
            width: 100%;
            height: 150px;
            object-fit: cover;
            border: solid 1px #e7e7e7;
        }
        .related__article a {
            text-decoration: none;
            color: inherit;
        }
        .related__article a:hover{
            text-decoration: none;
            color: #7ac943;
        }
        .related__article a h5{
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block body %}

{% if actuality.titre != '' %}
    <div class="single__actuality__container col-md-12 col-sm-12 col-xs-12">
        <div class="single__actuality__image__container">
            <img class="single__actuality__image" src="{{ actuality.image|replace({'/app_dev.php': ''}) }}" alt="{{ actuality.titre }}" />
        </div>
        <div class="single__actuality__title__info__container">
            <h3>{{ actuality.titre }}</h3>
            <p style="margin: 0"><i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px"></i> {{ actuality.createdAt|date("d-m-Y") }}</p>
        </div>
        <div class="single__actuality__content__container">
            <p>{{ actuality.contenu|raw }}</p>
        </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12 related__article">
        <h4 class="col-md-12 col-sm-12 col-xs-12">Voir plus d'Actualités</h4>
        {% for relatedActuality in relatedActualities %}
            <div class="col-md-4 col-sm-4 col-xs-4" style="min-height: 215px">
                <a href="{{ path('gcf_front_actuality_single_page',{'id': relatedActuality.id, 'slug': relatedActuality.titre}) }}"><img src="{% if relatedActuality.image != '' %}{{ relatedActuality.image|replace({'app_dev.php': ''}) }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}" alt="{{ relatedActuality.titre }}"></a>
                <a href="{{ path('gcf_front_actuality_single_page',{'id': relatedActuality.id, 'slug': relatedActuality.titre}) }}"><h5>{{ relatedActuality.titre|slice(0, 70) }}</h5></a>
            </div>
        {% endfor %}
    </div>

{% endif %}

{% endblock %}



