{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.Projects'|trans }} {% endblock %}
{% block pageTitle %} {{ 'menu.Projects'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a> {{ 'menu.Projects'|trans }}</a>  {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/DataTables/datatables.css') }}">
    <style>
        div.dataTables_wrapper div.dataTables_filter{
            display: none;
        }
        #myfilter{ padding: 10px 0; border: solid 1px;  margin: 10px 0;}

        .paginate_button.previous, .paginate_button.next{ display: none; }

        .filter_container{margin: 10px 0; padding: 0; border-left: solid #7ac943;}
        .filter_select_projects{width: 100%; max-width:100%; margin: 5px 0; padding: 5px 5px !important; outline: none; font-weight: 600}
        .filter_select_projects option{color:gray}
        #myTable thead tr{background: #7ac943; color: white;}
    </style>

    <style>
        .page_overlay{
            display: none;
            position: fixed;
            z-index: 1001;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: rgba(0, 0, 0, 0.4);
        }
        .page_overlay button{
            float: right;
            margin: 20px;
            font-size: 30px;
            background: transparent;
            border: none;
            color: white;
            font-weight: 700;
            outline:none;
        }

        .popup_details_container{
            display: none;
            position: fixed;
            z-index: 1001;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: white;
            height: -moz-max-content;
            height: -webkit-max-content;
            height: max-content;
            width: 600px;
            max-width:100%;
            border-radius: 2px;
            border: solid 1px #7ac943;
        }

        .popup_details_container .close_popup{
            position: absolute;
            top: -10px;
            right: -12px;
            color: red;
            cursor: pointer;
            line-height: 24px;
            font-weight: 600;
            background: white;
            border-radius: 50%;
        }

        .popup_details_container_inner{
            padding: 50px 20px 20px;
        }
        .popup_details_container_inner table{
            margin-bottom: 0;
        }
        .project_name_show{
            color:#7ac943;
            cursor: pointer;
        }
        .popup_details_container_inner .line_name{
            font-weight: 600;
        }
    </style>
{% endblock %}
{% block body %}



    <div class="col-md-12 filter_container">
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byGouvernorate">
                <option value="" >Tous les Gouvernorats</option>
                {% for gouv in gouvernorates  %}
                    <option value="{{ gouv.nom }}">{{ gouv.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byOrganisme" >
                <option value="" > Tous les Organismes</option>
                {% for organisme in organismes  %}
                    <option value="{{ organisme.nom }}">{{ organisme.nom}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="bySecteur">
                <option value="" >Tous les Secteurs</option>
                {% for secteur in secteurs  %}
                        <option value="{{ secteur.nom }}">{{ secteur.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="filter_select_projects col-md-12" name="" id="byFocus">
                <option value="" >Tous les Focus</option>
                {% for focus in focuss  %}
                    <option value="{{ focus.nom }}">{{ focus.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="col-md-12">
        <div class="table-responsive">
            <table id="myTable" class="table table-bordered table-striped display" cellspacing="0">
                <thead>

                    <tr>
                        <th>Nom</th>

                        <th>Gouvernorat</th>

                        <th>Organisme</th>

                        <th>Secteur</th>

                        <th>Focus</th>

                    </tr>

                </thead>
                <tbody class="result-search">

                    {% for project in projects %}
                        <tr>
                            <td>
                                <p class="project_name_show" onclick="showDetails( {{ project.id }} , '{{ project.nom }}' )"> {{ project.nom }}</p>
                            </td>

                            <td>
                                {% for gouvernorat in project.gouvernorat %}
                                    {{ gouvernorat.nom }}
                                {% endfor %}
                            </td>

                            {#organisme---->#}
                            <td>
                                {% if project.acteur != null %}
                                    {% if project.acteur.secteurActeur != null %}
                                        {% if (project.acteur.secteurActeur.secteurActeurParent == null) %}
                                            {{ project.acteur.secteurActeur.nom }}
                                        {% else %}
                                            {{ project.acteur.secteurActeur.secteurActeurParent.nom }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td>{{ project.secteurProjet.nom }}</td>

                            {% spaceless %}
                            <td>
                                <ul>
                                    {% for focus in project.concentration %}
                                        <li>{{ focus.nom}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endspaceless %}

                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


    <div class="page_overlay" onclick="closePop()">
    </div>

    <div class="popup_details_container">
        <a class="close__video__popup" onclick="closePop()">×</a>
        <div class="popup_details_container_inner">
            <div class="popup_details_container_inner"></div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>

    <script src="{{ asset('assets/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            var table = $('#myTable').DataTable( {

                "paging":   true,

                "lengthChange": false,
                //"lengthMenu": [ 5, 10, 20 ],
                "lengthMenu": [ 10, 20 ],

                "ordering": true,

                "info":     false,

                "searching": true,

                "searchInput": false

                // dom: 'Bfrtip',

                // buttons: [
                //     'files'
                // ]

            } );

        //=============================================
            select =  $("#byGouvernorate")
                .on('change', function () {
                    table.column(1)
                        .search( $(this).val() )
                        .draw();
                });
            var gouvernorats = document.getElementById('byGouvernorate'), gouvernorat, i;

            for(i = 0; i < gouvernorats.length; i++) {
                gouvernorat = gouvernorats[i];
                if (gouvernorat.getAttribute('value') === '{{ secteurName }}') {
                    gouvernorat.setAttribute("selected", "selected");
                    select = $('#byGouvernorate').trigger("change");
                }
            }
        //=============================================
            select = $('#byOrganisme')
                .on('change', function () {
                    table.column(2)
                        .search( $(this).val() )
                        .draw();
                });
        //=============================================

            select = $('#bySecteur')
                .on('change', function () {
                    table.column(3)
                        .search( $(this).val() )
                        .draw();
                });
            var secteurs = document.getElementById('bySecteur'), secteur, i;

            for(i = 0; i < secteurs.length; i++) {
                secteur = secteurs[i];
                if (secteur.getAttribute('value') === '{{ secteurName }}') {
                    secteur.setAttribute("selected", "selected");
                    select = $('#bySecteur').trigger("change");
                }
            }
        //=============================================
            select = $('#byFocus')
                .on('change', function () {
                    table.column(4)
                        .search( ($(this).val()).replace(/<[^>]+>/g, '') )
                        .draw();
                });


        } );
    </script>


    <script>
        {#{{ path('gcf_front_projectsinglepage', {'id': project.id} ) }}#}
        function showDetails(id, nom){

            $('.loading_page_overlay').css('display', 'block');
            url = '{{ path('gcf_front_projectsinglepage', {'id': 'id', 'name':'name'} ) }}';
            url = url.replace("id", id);
            url = url.replace("name", nom);
            //console.log(url);
            $.ajax({
                url: url,
                data: {'details-projet': 'test'},
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    // console.log(result);
                    $('.loading_page_overlay').css('display', 'none');

                    $('.page_overlay').css('display', 'block');
                    $('.popup_details_container').css('display', 'block');
                    $('.popup_details_container_inner').empty();
                    var toAppend = '';
                    toAppend = '<table class="table table-striped table-bordered">';
                    toAppend +=  '<thead></thead>';
                    toAppend +=  '<tbody>';
                    if(result.nom !== '') {
                        toAppend += '<tr>';
                        toAppend += '<td class="line_name">Nom</td>';
                        toAppend += '<td style="font-weight:600">' + result.nom + '</td>';
                        toAppend += '</tr>';
                    }
                    if(result.description !== '') {
                        toAppend += '<tr>';
                        toAppend += '<td class="line_name">Description</td>';
                        if (result.description.length > 100) {
                            toAppend += '<td>' + result.description.substr(0, 100) + '</td>';
                        }else{
                            toAppend += '<td>' + result.description + '</td>';
                        }
                        toAppend += '</tr>';
                    }
                    if(result.secteurProjet !== ''){
                        toAppend +=  '<tr>';
                        toAppend +=  '<td class="line_name">Secteur</td>';
                        toAppend +=  '<td>'+result.secteurProjet+'</td>';
                        toAppend +=  '</tr>';
                    }
                    if(result.acteur !== ''){
                        toAppend +=  '<tr>';
                        toAppend +=  '<td class="line_name">Acteur</td>';
                        toAppend +=  '<td>'+result.acteur+'</td>';
                        toAppend +=  '</tr>';
                    }
                    if(result.focus.length > 0) {
                        toAppend += '<tr>';
                        toAppend += '<td class="line_name">Focus</td>';
                        if (result.focus !== '') {
                            toAppend += '<td>';
                            for (i = 0; i < result.focus.length; i++) {
                                if (i === result.focus.length - 1) {
                                    toAppend += result.focus[i];
                                } else {
                                    toAppend += result.focus[i] + ', ';
                                }
                            }
                            toAppend += '</td>';
                        }
                        toAppend += '</tr>';
                    }
                    if(result.gouvernorat.length > 0) {
                        toAppend += '<tr>';
                        toAppend += '<td class="line_name">Gouvernorat</td>';
                        if (result.gouvernorat !== '') {
                            toAppend += '<td>';
                            for (i = 0; i < result.gouvernorat.length; i++) {
                                if (i === result.gouvernorat.length - 1) {
                                    toAppend += result.gouvernorat[i];
                                } else {
                                    toAppend += result.gouvernorat[i] + ', ';
                                }
                            }
                            toAppend += '</td>';
                        }
                        toAppend += '</tr>';
                    }
                    if(result.fichierUrl !== ''){
                        toAppend +=  '<tr>';
                        toAppend +=  '<td class="line_name">Fichier</td>';
                        toAppend +=  '<td><a href="'+  result.fichierUrl.replace('/app_dev.php','')+'" target="_blank">fichier</a></td>';
                        toAppend +=  '</tr>';
                    }
                    if(result.motsCles.length > 0) {
                        toAppend += '<tr>';
                        toAppend += '<td class="line_name">Mots clés</td>';
                        toAppend += '<td>';
                        for (i = 0; i < result.motsCles.length; i++) {
                            if (i === result.motsCles.length - 1) {
                                toAppend += result.motsCles[i];
                            } else {
                                toAppend += result.motsCles[i] + ', ';
                            }
                        }
                        toAppend += '</td>';
                        toAppend += '</tr>';
                    }
                    toAppend +=  '<tr>';
                    var urlSingle = '{{ path('gcf_front_projectsinglepage', {'name': 'name', 'id': 'id'} ) }}';
                    urlSingle = urlSingle.replace("id", result.id);
                    urlSingle = urlSingle.replace("name", result.nom);

                    toAppend +=  '<td align="center" colspan="2" class="line_name"><a class="button_see_more_lg" href="'+urlSingle+'"> Voir les détails </a>     </td>';

                    toAppend +=  '</tr>';

                    toAppend +=  '</tbody>';
                    toAppend +=  '</table>';

                    $('.popup_details_container_inner').append(toAppend);

                },
                error: function (error) {
                    $('.loading_page_overlay').css('display', 'none');
                    alert(error);
                    console.log(error);
                }

            });


        }

        function closePop() {

            $('.page_overlay').css('display', 'none');

            $('.popup_details_container_inner').empty();

            $('.popup_details_container').css('display', 'none');

        }
    </script>
{% endblock %}