{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ project.nom }} {% endblock %}
{% block pageTitle %} {% if  project.nom|length > 40 %} {{ project.nom|slice(0, 40) }}... {% else %} {{ project.nom }} {% endif %} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}"
                          title="{{ 'menu.Home'|trans }}">{{ 'menu.Home'|trans }}</a> / <a
        href="{{ path('gcf_front_projectspage') }}"
        title="{{ 'menu.Projects'|trans }}"> {{ 'menu.Projects'|trans }}</a> / <a
        title="{{ project.nom }}">{% if  project.nom|length > 40 %} {{ project.nom|slice(0, 40) }}... {% else %} {{ project.nom }} {% endif %}</a> {% endblock %}

{% block meta %}
    <meta name="Author" content="GCF">
    <meta name="Language" content="{{ app.request.locale }}">
    <meta name="Description" content="{{ project.description|raw }}">
    <meta name="Keywords" content=" ">{#mots cles#}

    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="GCF - {{ project.nom }}"/>
    <meta property="og:description" content="{{ project.description|raw }}"/>
    {#<meta property="og:image"              content="{{ app.request.getSchemeAndHttpHost() }}{{ evenement.photoCouverture|replace({'app_dev.php': ''}) }}" />#}
{% endblock %}

{% block stylesheets %}
    <style>
        .header__project {
            background: whitesmoke;
        }

        .header__project img {
            width: 100%;
            height: 235px;
            object-fit: cover;
        }
        .header__project__actor i, .header__project__gouv i
        {
            margin-right: 5px
        }
        .boody__project__file i {
            margin-right: 5px;
        }

        .footer__project p i {
            margin-right: 5px;
        }
        .footer__project p a {
            text-decoration: none;
            color: #7ac943;
        }
        .footer__project p a:hover {
            text-decoration: none;
            color: #7ac943;
        }

    </style>
{% endblock %}
{% block body %}
    {% if project.nom != "" %}
        <div style="margin-right: 10px;">
            <div class="col-md-12 col-sm-12 col-xs-12 header__project" style="padding-left: 0 ">
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding:0;">
                    <img src="{% if project.image %}{{ project.image|replace('/app_dev.php', '') }}{% else %}{{ asset('assets/images/empty-image.png') }}{% endif %}"
                         alt="{{ project.nom }}">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <h3>{{ project.nom }}</h3>


                    <p class="header__project__actor"><i class="fa fa-user" aria-hidden="true"></i>
                        {% for acteur in project.acteur %}
                            {{ acteur }},&nbsp;
                        {% endfor %}
                    </p>
                    <p>
                        {# organisme #}
                        {% for key, acteur in project.acteur %}
                            {% if key == 0 %}
                                {% if acteur.secteurActeur != null %}
                                    {% if (acteur.secteurActeur.secteurActeurParent == null) %}
                                        {{ acteur.secteurActeur.nom }}
                                    {% else %}
                                        {{ acteur.secteurActeur.secteurActeurParent.nom }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% if project.secteurProjet.nom != '' %}
                        <p>
                            {# secteur #}
                            {{ project.secteurProjet.nom }}<br/>
                        </p>
                    {% endif %}
                    {% if project.concentration != '' %}
                        <p>
                            {# focus #}
                            {% for focus in project.concentration %}
                                {{ focus.nom }},&nbsp;
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if project.gouvernorat.snapshot|length > 0 %}
                        <p class="header__project__gouv"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            {# gouvernorat #}
                            {% for gouvernorat in project.gouvernorat %}
                                {{ gouvernorat.nom }},&nbsp;
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 footer__project" style="padding: 15px 0; ">
                <p><i class="fa fa-tags" aria-hidden="true"></i>
                    {# keyword #}
                    {% for key, keyword in project.keyword %}
                        {{ keyword.label }},&nbsp;
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 body__project " style="padding: 15px 0; ">
                {# description #}
                {{ project.description|raw }}
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 footer__project" style="padding: 15px 0; ">
                {% if project.source %}
                    <p><i class="fa fa-info-circle" aria-hidden="true"></i>
                        {# DAI #}
                        {% if project.lien %}
                            <a href="{{ project.lien }}">{{ project.source }}  </a>
                        {% else %}
                            <a>{{ project.source }}  </a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>


        </div>
        {% else %}
        <div class="col-md-4 col-md-offset-4" style="background: whitesmoke;padding:10px">
            <p align="center">
                <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i><br>
                {{ 'not available'|trans }}
            </p>
        </div>

    {% endif %}
{% endblock %}

