{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.News'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.News'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}">{{ 'menu.Home'|trans }}</a> / <a> {{ 'menu.News'|trans }}</a>  {% endblock %}


{% block body %}

{% endblock %}


