{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ 'menu.Contact-us'|trans }} {% endblock %}

{% block pageTitle %} {{ 'menu.Contact-us'|trans }} {% endblock %}
{% block breadcrump %} <a href="{{ path('gcf_front_homepage') }}" title="{{ 'menu.Home'|trans }}">{{ 'menu.Home'|trans }}</a> / <a title="{{ 'menu.Contact-us'|trans }}"> {{ 'menu.Contact-us'|trans }}</a> {% endblock %}


{% block stylesheets %}

    <style>
        .contact__page__container{
            background: #f7f7f7;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .contact__page__container h2{
            font-family: inherit !important;
            width: 100%;
            margin: 0 0 20px 0;
            background: #7ac943;
            color: white;
        }

        .contact_card_container{
            background: #f7f7f7;
            margin-top: 18px;
            border-radius: 2px;
        }

        .contact_card_container input, .contact_card_container textarea, .contact_card_container .btn-primary{
            -webkit-border-radius: 2px !important;
            -moz-border-radius: 2px !important;
            border-radius: 2px !important;
        }

        .contact_card_container .btn.btn-primary{
            background-color: #7ac943 !important;
            border-color: #7ac943;
        }
        .contact_card_container .btn.btn-primary:hover{
            background-color: #8ce24a !important;
            border-color: #8ce24a;
        }
        #sending_status{
            padding: 7px;
            color: black;
            width: 100%;
            text-align: left;
        }
        .center-on-small-only{
            text-align: right;
            display: flex;
        }
        .contact_social_body{
            color: #8a8a8a;
        }
        .item_contact{
            display: flex;
            margin-bottom: 7px;
        }
        .item_contact p{
            line-height: 32px;
        }
        .item_contact i{
            width: 40px;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="col-md-12 col-xs-12 contact__page__container" >
        <div class="col-md-12 col-xs-12" style="padding: 0 2px 0 0 ;">
            <h2 align="center">{{ 'contactPage.Where to find us'|trans }}</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6389.625720877152!2d10.182694263748806!3d36.79903705971493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x733b1f539249f6d1!2sR%C3%A9seau+Alternatif+Des+Jeunes+Tunisie!5e0!3m2!1sfr!2stn!4v1530200591783" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-xs-12 contact_card_container" style="padding: 0 2px 0 0 ;">
            <h2 align="center">{{ 'contactPage.Contact-us'|trans }}</h2>
            <div class="item contact_social_body">
                <div class="item_contact" >
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <p>  18 Janvier 1952, Imm n°15, 2éme Étage, 1001 Tunis </p>
                </div>
                <div class="item_contact">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <p>  (00216) 70318342 / (00216) 71247538 </p>
                </div>
                <div class="item_contact">
                    <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                    <p>  (00216) 71 253 547 </p>
                </div>
                <div class="item_contact">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <p>  contact@raj-tunisie.org</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
        <div class="col-md-6 col-xs-12 contact_card_container" style="padding: 0 0 0 2px;">
            <h2 align="center">{{ 'contactPage.Leave us a message'|trans }}</h2>
            <form id="contact-form" name="contact-form" action="" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="{{ 'contactPage.Name'|trans }}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="{{ 'contactPage.Email'|trans }}" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="subject" name="subject" placeholder="{{ 'contactPage.Subject'|trans }}" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="form-group">
                            <textarea id="message" name="message" rows="7" placeholder="{{ 'contactPage.Message'|trans }}" class="form-control" style="resize: vertical;"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
            </form>

            <div class="center-on-small-only">
                <div id="sending_status"></div>
                <input type="submit"  class="btn btn-primary" onclick="submitForm()" value="{{ 'contactPage.Send'|trans }}" >
            </div>



        </div>
        <!--Grid column-->
    </div>
<!--Section: Contact v.2-->

{% endblock %}

{% block javascripts %}
    <script>
        function submitForm() {

            document.getElementById('sending_status').innerHTML = "{{ 'contactPage.Send'|trans }} ...";
            formData = {
                'name'     : $('input[name=name]').val(),
                'email'    : $('input[name=email]').val(),
                'subject'  : $('input[name=subject]').val(),
                'message'  : $('textarea[name=message]').val()
            };

            $.ajax({
                url : "{{ path('gcf_front_contact_validation_page') }}",
                type: "POST",
                data : formData,
                success: function(data, textStatus, jqXHR)
                {
                    console.log(data);

                    if (data.code){ //If mail was sent successfully, reset the form.
                        $('#sending_status').text(data.message);
                        $('#sending_status').css('background', 'green');
                        $('#sending_status').css('color', 'white');
                        $('#contact-form').closest('form').find("input[type=text], textarea").val("");
                    }else{
                        $('#sending_status').text(data.message);
                        $('#sending_status').css('background', 'red');
                        $('#sending_status').css('color', 'white');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                    $('#sending_status').text(jqXHR);
                    $('#sending_status').css('background', 'red');
                    $('#sending_status').css('color', 'white');
                }
            });
        }
    </script>
{% endblock %}

