{% extends "@GCFFront/base.html.twig" %}

{% block title %} GCF - {{ 'menu.Home'|trans  }} {% endblock %}

{% block stylesheets %}
    <style>
        .project_number_by_sectors .project_container{padding: 15px 8px; margin: auto;}
        .project_number_by_sectors .project_icon{
            max-width: 70px;
            width: 70px;
            margin-bottom: 5px;
            object-fit: cover;
            height: 70px;
            border: solid 2px transparent;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
        }
        .project_number_by_sectors .project_icon:hover{ border: solid 2px #aaaaaa; }
        .project_number_by_sectors .project_name{ text-decoration: none; font-size: 13px; font-weight: 600;}
        .project_number_by_sectors .project_number{}

        .slick-prev:before, .slick-next:before{color:gray !important;}
        .slick-prev:before, .slick-next:before{color:gray !important;}

        .slick-next{right: 0 !important; height: 100% !important;}
        .slick-prev{left:0 !important; height: 100% !important;}


        .section_title {
            margin: 0 0 10px;
            padding-left: 10px;
            background: #22AA86;
            color: white;
            font-size: 30px;
        }

        .name{
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;

            font-weight:600;
        }

        .projects_news .theme { font-size: 13px; margin: 0 }

        .projects_news .description { font-size: 13px; margin: 0 }

        .read_more_container { text-align: right;  margin-top: 10px; }

        .read_more_container button{ padding: 6px 50px; }


        .projects_news .single_element {  margin-bottom: 10px; background: #fefefe; }

        .single_element_image_container{ height: 100px; max-height: 100px; padding: 0 !important; display: flex;}

        .single_element_image_container a{margin: auto;width: 100%; height: 100%;}

        .single_element_image_container a img{ margin: auto; max-width: 100%; max-height: 100%; height:100%; width: 100%;object-fit: cover;}

        .single_element_desc_container{ height: 100px; max-height: 100%; }

        .item a{
            text-decoration: none;
            color: inherit;
        }
        .item a:hover{
            text-decoration: none;
            color: #22aa86 ;
        }
        .read_more_container a{
            text-decoration: none;
            color: inherit ;
        }
        .read_more_container a:hover{
            text-decoration: none;
            color: inherit ;
        }
        .section_art_pub_title{
            background: #22aa86 !important;
            color: white;
            padding: 0 0 0 20px;
        }

        @media screen and (max-width: 440px){
            .single_element_desc_container h2{ font-size: 17px; font-weight: 600; margin: 5px 0;}
            .projects_news .theme{font-size: 12px;}
            .projects_news .description{font-size: 12px;}

        }

        @media screen and ( min-width: 989px ) and ( max-width: 1200px ){
            .single_element_desc_container h2{ margin: 5px 0 }
        }
        /*
        ==========
        elearning Block
        ==========
        */
        #technique_tab, #legislatives_tab{
            padding:0;
            cursor:pointer;
        }
        #legislatives_tab_container{
            display: none;
        }
        .navigation_elearning a{
            color: #22AA86;
        }

        /*
        =======================
        publications block
        =======================
        */
        .navs__publications__block li{
            cursor: pointer;
        }
        .navs__publications__block li a{
            color: #22AA86;
        }
    </style>
{% endblock %}

{% block PBS %}
    {#{{ dump(ProjectsBySector) }}#}
     <div class="project_number_by_sectors" style="margin-bottom: 40px;">
         <div class="container">
             <div class="col-md-12 slider slider_projects" >

                 {% for key, ProjectBySector in ProjectsBySector %}
                     {% set key1 =  '' %}
                     {% if key|length > 20 %}
                         {% set key1 =  key|slice(0, 17) ~ '...' %}
                     {% else %}
                         {% set key1 =  key %}
                     {% endif %}
                 <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1 project_container">
                     <center>
                         <img class="project_icon" src="{{ ProjectBySector["url"]|replace({'app_dev.php': ''}) }}" alt="{{ key1 }}"> <br>
                         <a class="project_name" href="#" title="{{ key }}">
                             {{ key1 }}
                         </a>
                         <span class="badge project_number">{{ ProjectBySector["nbr"] }}</span>
                     </center>
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}

{% block body %}





    <div class="col-md-12 col-sm-12" style="margin-bottom: 20px;    padding: 0;">
        <div class="projects_news">
            <div class="row" style="max-width: 100%;">
            {#Block Actualités#}
            <div class="col-md-6 col-sm-6 single_item "
                style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h1 class="section_title">Actualités</h1>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 single_element_image_container">
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 single_element_desc_container">
                            <h2 class="name">Project Name</h2>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/640/480/nature/grayscale" />
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 single_element_desc_container">
                            <h2 class="name">Project Name</h2>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 item single_element">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 single_element_image_container" >
                            <a href="#">
                                <img class="img-fluid" src="https://placeimg.com/100/100/nature/any/blur" />
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 single_element_desc_container">
                            <h2 class="name">Project Name</h2>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 item" style=" text-align: right;">
                    <button class="button_see_more">Voir Plus</button>
                </div>
            </div>

            {#block Events#}
            <div class="col-md-6 col-sm-6 single_item "
                 style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                <div class="intro">
                    <h1 class="section_title">Evénements</h1>
                </div>
                {% for event in events %}
                    <div class="col-sm-12 item single_element">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4 single_element_image_container" >
                                <a href="#">
                                    {% if event.photoCouverture != "" %}
                                        <img class="img-fluid" src="{{ event.photoCouverture }}" />
                                    {% else %}
                                        <img class="img-fluid" src="https://png.icons8.com/windows/1600/event-accepted.png" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8 single_element_desc_container">
                                <h2 class="name">{{ event.Nom }}</h2>
                                <p class="theme"><strong>Date:</strong> {{ event.debut|date('d-m-Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                <div class="col-md-12 item" style="text-align: right;">
                    <a href="{{ path('gcf_front_event_page') }}">
                        <button class=" button_see_more">Voir Plus</button>
                    </a>
                </div>
                
            </div>
            </div>


            {#elearning#}
            <div class="row " style="width: 100%;padding-bottom: 10px; background: #f7f7f7;">
            <div class="">
                <div class="projects-horizontal">
                    <div class="intro" >
                        <h1 class="section_title">{{ 'menu.E-learning'|trans }} </h1>
                    </div>
                    <div class="col-md-12" style="    margin-bottom: 20px;">
                        <ul class="nav nav-tabs navigation_elearning">
                            <li class="active" id="technique_tab"><a >Technique</a></li>
                            <li class="" id="legislatives_tab"><a >Législatives</a></li>
                        </ul>
                    </div>

                    <div id="technique_tab_container">

                        {% for Technique in Techniques %}
                            <div class="col-md-6 col-xs-12"
                                 style="background: white;border: solid #f7f7f7; padding-top: 10px; padding-bottom:10px ">
                                <div class="row">
                                    <div class="col-md-5" style="padding: 0 ">
                                        <iframe style="max-width: 100%;max-height: 100%;width: 100%;" src="{{ Technique.youtube }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>

                                    <div class="col-md-7">
                                        <h4 class="name">{{ Technique.Nom }}</h4>
                                        <h6 class="name"><strong>Date :</strong> 2009</h6>
                                        <p class="description" style="font-size: 13px;">{{ Technique.Description|raw|slice(0, 62) }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                    <div id="legislatives_tab_container">

                        {% for Legislative in Legislatives %}

                            <div class="col-md-6 col-sm-6 col-xs-12" style="background: white;border: solid #f7f7f7; padding-top: 10px; padding-bottom:10px ">
                                <div class="listing">
                                    <h4>{{ Legislative.Nom }}</h4>
                                    <div class="type">
                                        <a target="_blank" href="{{ Legislative.Fichier }}">
                                            <img src="{{ asset('assets/images/PDF_file.png') }}" title="Lire le document">
                                        </a>
                                    </div>
                                    <p>Date de publication : 2018</p>
                                    <div class="details">
                                        <p><strong>Description : </strong>{{ Legislative.Description|raw|slice(0, 62) }}</p>
                                        <!--
                                        <p><strong>Adresse :</strong> Lorem ipsum</p>
                                        <p><strong>Type :</strong> Lorem ipsum dolor </p>
                                        <p><strong>Focus :</strong>Lorem</p>
                                        <p><strong>Secteur :</strong>ipsum</p>
                                        <p><strong>Mots clés :</strong>Lorem ipsum, Lorem ipsum dolor sit amet, Lorem dolor, ipsum, Lorem, amet</p>
                                        -->
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                    <div class="row read_more_container col-sm-12">
                        <a href="{{ path('gcf_front_elearningpage') }}">
                            <button class="button_see_more_lg">
                                Voir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            </div>


        </div>
    </div><br>

    <div class="col-md-12 col-sm-12" style="margin-bottom: 50px; padding: 0; min-height: 313px;">
        <div class="projects-horizontal">
            <div class="row" style="width: 100%;background:  #f7f7f7;padding-bottom: 10px;">
            <div class="intro">
                <h1 class="section_title">Publications</h1>
            </div>
            <div class="projects">
                <ul class="nav nav-tabs navs__publications__block">
                    <li class="active filter-button" data-filter="all"><a> Toutes </a></li>
                    <li class="filter-button" data-filter="ours" ><a> Nos Publications </a></li>
                    <li class="filter-button" data-filter="gb"><a> Green Blogger Publications </a></li>
                    <li class="filter-button" data-filter="others"><a> Autres </a></li>
                </ul>
                <br/>
                <div class="" style="max-width: 100%;">
                {% for nospublication in nospublications %}
                    {% if nospublication.titre != "" %}
                    <div class="col-sm-6 item filter_display ours" style="background: white;border: solid 2px #f7f7f7;">
                        <div class="row">
                            <div class="col-md-12 col-lg-5 col-xs-5">
                                <a href="{{ path('gcf_front_single_publications_page',{'slug': nospublication.titre|lower|replace({' ': '-'}) }) }}">
                                    <img class="img-fluid" src="https://placeimg.com/200/200/nature/any/blur" title="{{ nospublication.titre }}" style="max-width: 100%;max-height: 100%"/>
                                </a>
                            </div>
                            <div class="col">
                                <h2 class="name"><a href="{{ path('gcf_front_single_publications_page',{'slug': nospublication.titre|lower|replace({' ': '-'}) }) }}">{{ nospublication.titre }}</a></h2>
                                <p class="description">{{ nospublication.contenu|slice(0, 180)|striptags  }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="" style="max-width: 100%;">
                {% for gbpublication in gbpublications %}
                    {% if gbpublication.titre != "" %}
                    <div class="col-sm-6 item filter_display gb" style="background: white;border: solid 2px #f7f7f7;">
                        <div class="row">
                            <div class="col-md-12 col-lg-5 col-xs-5">
                                <a href="{{ path('gcf_front_single_publications_page',{'slug': gbpublication.titre|lower|replace({' ': '-'}) }) }}">
                                    <img class="img-fluid" src="https://placeimg.com/200/200/arch/any/blur" title="{{ gbpublication.titre }}" style="max-width: 100%;max-height: 100%"/>
                                </a>
                            </div>
                            <div class="col">

                                <h2 class="name"><a href="{{ path('gcf_front_single_publications_page',{'slug': gbpublication.titre|lower|replace({' ': '-'}) }) }}">{{ gbpublication.titre }}</a></h2>
                                <p class="description">{{ gbpublication.contenu|slice(0, 180)|striptags  }}.</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for autrespublication in autrespublications %}
                    {% if autrespublication.titre != "" %}

                    <div class="col-sm-6 item filter_display others" style="background: white;border: solid 2px #f7f7f7;">
                        <div class="row">
                            <div class="col-md-12 col-lg-5 col-xs-5">
                                <a href="{{ path('gcf_front_single_publications_page',{'slug': autrespublication.titre|lower|replace({' ': '-'}) }) }}">
                                    <img class="img-fluid" src="https://placeimg.com/200/200/tech/any/blur" title="{{ autrespublication.titre }}" style="max-width: 100%;max-height: 100%"/>
                                </a>
                            </div>
                            <div class="col">
                                <h2 class="name"><a href="{{ path('gcf_front_single_publications_page',{'slug': autrespublication.titre|lower|replace({' ': '-'}) }) }}">{{ autrespublication.titre }}</a></h2>
                                <p class="description">{{ autrespublication.contenu|slice(0, 180)|striptags  }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="row read_more_container col-sm-12">
                <a href="{{ path('gcf_front_publicationspage') }}">
                    <button class="button_see_more_lg">
                        Voir Plus
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        $('.slider_projects').slick({
            dots: false,
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 1,

            touchMove: false,
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        speed: 10,
                        infinite: false,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        arrows: false,
                        touchMove: true,
                        autoplay:true,
                        autoplaySpeed:5000

                    }
                },
            ]
        });
    </script>
    <script>
        $(document).ready(function(){

            $(".filter-button").click(function(){
                $(".filter-button").removeClass("active");
                $(this).addClass("active");
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    //$('.filter').removeClass('hidden');
                    $('.filter_display').show('3000');
                }
                else
                {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter_display").not('.'+value).hide('3000');
                    $('.filter_display').filter('.'+value).show('3000');

                }
            });

        });
    </script>


    <script>
        jQuery('#technique_tab').click(function () {

            jQuery('#technique_tab_container').css('display', 'block');
            jQuery('#legislatives_tab_container').css('display', 'none');
            jQuery('#technique_tab').addClass('active');
            jQuery('#legislatives_tab').removeClass('active');

        });

        jQuery('#legislatives_tab').click(function () {

            jQuery('#legislatives_tab_container').css('display', 'block');
            jQuery('#technique_tab_container').css('display', 'none');
            jQuery('#legislatives_tab').addClass('active');
            jQuery('#technique_tab').removeClass('active');

        });
    </script>
{% endblock %}